/* CSS for the OUG Peasant Cup */
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block; }

ul, li {
  list-style-type: none;
  display: inline-block;
}

body {
  background: url('../assets/header.png') no-repeat #000000;
  background-size: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}



#signup {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48%;
  margin-bottom: 6%;
}

.column3 {
  width: 33%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
}

.column3 img {
  width: 90%;
}

img#details {
  width: 50%;
  position: relative;
  top: -3vw;
}

img#regteam {
  position: relative;
  top: -2vw;
}

#about {
  background: url('../assets/bgred.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
}

.column2 {
  width: 48%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: inline-block;
  text-align: center;
} 

img#whatis {
  width: 85%;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12%;
}

.about {
  text-align: left;
  vertical-align: top;
  margin-top: 3%;
}

.rules {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: 0em;
  padding-top: 1vw;
  padding-bottom: 0.6vw;
  padding-right: 0.3vw;
  padding-left: 1vw;
  border: 1px #ff5957 solid;
  width: 22%;
}

#tourney {
  background: url('../assets/bgtourney.png') no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
  margin-top: -3vw;
  text-align: center;
}

#tourney img {
  width: 50%;
  margin-top: 3%;
  margin-bottom: 5%;

}

#merch {
  width: 100%;
  height: auto;
  margin-top: -3vw;
  text-align: center;
  position: relative;
  z-index: 100;
}

#merch img {
  width: 100%;
  margin: 0;
}

#discord {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  z-index: 100;
}

#discord img {
  width: 50%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
}

/* Links */
p~.rules a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.6s ease-in-out; }

p~.rules a:hover {
  text-decoration: none;
  color: #ffeaea;
  }

a, a:visited {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  text-decoration: none;
  color: #ffeaea;
  transition: color 0.6s ease-in-out;
}